<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="liang.lollipop.llauncher">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:largeHeap="true"
            android:restoreAnyVersion="true"
            android:theme="@style/LauncherTheme">
        <activity
                android:name=".Launcher"
                android:clearTaskOnLaunch="true"
                android:configChanges="keyboard|keyboardHidden|navigation"
                android:enabled="true"
                android:excludeFromRecents="true"
                android:launchMode="singleTask"
                android:resumeWhilePausing="true"
                android:stateNotNeeded="true"
                android:taskAffinity=""
                android:theme="@style/LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--<provider-->
                <!--android:name=".model.LauncherProvider"-->
                <!--android:authorities="${applicationId}.settings"-->
                <!--android:exported="true"-->
                <!--android:readPermission="ch.deletescape.lawnchair.permission.READ_SETTINGS"-->
                <!--android:writePermission="ch.deletescape.lawnchair.permission.WRITE_SETTINGS" />-->

    </application>

</manifest>